body {
    font-family: Arial, sans-serif;
  }
  
  .dashboard {
    padding: 20px;
    margin-left: 250px; 
    
    width: 100%;
  }

  
  
  @media (max-width: 600px) {
    .dashboard {
      padding: 10px;
      margin-left: 0;
    }
  }
  