.carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    transform: translateX(0);
  }
  
  
  @media (max-width: 600px) {
    .carousel-item {
      min-width: 100%;
    }
  }
  